@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>更新计划</title>
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item">导出Excel</li>
                <li class="list-group-item">课程分类增加"高自考"</li>
            </ul>
        </div>
    </div>
</body>
</html>
