@{
    ViewBag.Title = "报名管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    @Html.Partial("~/Views/Partials/angular.cshtml")
    @Html.Partial("~/Views/Partials/angular.service.cshtml")
    @Html.Partial("~/Views/Partials/jqueryui.cshtml")
    <script src="~/Scripts/EduUtils.js"></script>
    <script src="~/Scripts/main/Registration.js"></script>

    <style type="text/css">
        input[type=radio] { -webkit-appearance: radio; }

        input[type=checkbox] { -webkit-appearance: checkbox; }

        .form-control[readonly] { background-color: white; }

        .tip { margin-left: -30px; position: fixed; z-index: 100; background-color: rgba(30, 30, 30, 0.3); width: 100%; padding: 0 8px; top: 50px; min-height: 30px; line-height: 30px; }

        .ellipsis { display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

        .ellipsis-base { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

        .ng-hide, .hide { display: none; }

        .edu-inline { display: inline-block; width: auto; }

        .input-group .form-control { z-index: 1; }

        .top10 { margin-top: 10px; }

        .bottom10 { margin-bottom: 10px; }

        .new-form .col-xs-12 { margin-top: 10px; vertical-align: middle; }
        /*for form.html, detai.html*/
        .header-sub { color: #111; }
    </style>
}

@Html.Partial("~/Views/Partials/breadcrumb.cshtml")

<div ng-app="Registration">
    <div ng-controller="BodyCtrl">
        <div class="container-fluid" ng-view></div>
    </div>
</div>


